{% extends "mailing/base.html" %}
{% block content %}

<div class="row d-flex justify-content-center align-items-center text-center">

    <div>
        <h5 style="padding-top: 35px">Количество рассылок: <span class="text-primary">{{ newsletters_total_count }}</span></h5>
        <h5>Количество активных рассылок: <span class="text-primary">{{ newsletters_active_count }}</span></h5>
        <h5>Количество клиентов: <span class="text-primary">{{ users_count }}</span></h5>
    </div>
    <hr class="my-4">
    <div class="row text-center">

</div>
</div>



{% endblock %}
