{% extends "mailing/base.html" %}
{% block content %}
<a class="p-2 btn btn-sm btn-outline-secondary" href="{% url 'mailing:newsletter_create' %}">Создать рассылку</a>


  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Рассылки</h1>
      </div>
    </div>
  </section>

{% for newsletter in object_list %}
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title">{{ newsletter.message }}</h5>
                <h5 class="card-title">{{ newsletter.status }}</h5>
                <p class="card-text">{{ newsletter.first_sending }}</p>
                <p class="card-text">{{ newsletter.end_sending }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'mailing:newsletter_detail' newsletter.pk %}" role="button">Просмотр рассылки</a>
                    {% if user == newsletter.owner %}
                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'mailing:newsletter_update' newsletter.pk %}" role="button">Редактировать рассылку</a>
                    {% endif %}
                    {% if user == newsletter.owner %}
                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'mailing:newsletter_delete' newsletter.pk %}" role="button">Удалить рассылку</a>
                    {% endif %}


                    {% if perms.mailings.can_delete_newsletter %}
                    <form method="POST">
                    {% csrf_token %}
                    {% if newsletter.is_active %}
                    <button type="submit" class="btn btn-mb btn-outline-danger" name="status" value="{{ newsletter.id }}">Отключить рассылку</button>
                    {% else %}
                    <button type="submit" class="btn btn-mb btn-outline-success" name="status" value="{{ newsletter.id }}">Включить рассылку</button>
                    {% endif %}
                    </form>
                    {% endif %}






                </div>
              </div>
            </div>
          </div>
        </div>
{% endfor %}
{% endblock %}
